<!DOCTYPE html>
<html>
<head>
  <title>Upload Success</title>
</head>

  <h1>Image Uploaded and Resized!</h1>
  <% if (imageUrl) { %>
    <img src="<%= imageUrl %>" alt="Resized Image" />
    <p><%= message1 %></p>
    <p><%= message2 %></p>
  <% } %>
  <a href="http://localhost:3000/"> upload and test another image</a>
  
</body>
</html>
